---
layout: default
---
<div class="post">

  <header class="post-header">

    <div class='post-navigation'>
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    {% if page.ingredients %}

    {% include ingredients.html text=page.ingredients %}

    {% endif %}

    {% if page.soundcloudId %}

    {% include soundcloud.html id=page.soundcloudId %}

    {% endif %}

  </header>

  <article class="post-content {% if page.soundcloudId %}soundcloud-feature{% endif %}">
    {{ content }}
    {% include disqus.html %}
  </article>



</div>
